# 第九次课后练习

**负责助教：胡天成**

<span style="color:red; font-weight:bold;">请将作业文件命名为 第九次课后练习+姓名+学号.ipynb, 例如 第九次课后练习+张三+1000000000.ipynb</span>

<span style="color:red; font-weight:bold;">在作业过程中觉得有心得或者自己拓展学习到有价值内容的，可以在文件名最后加一个#号。例如第九次课后练习+张三+1000000000+#.ipynb</span>

# 第零部分 代码理解

请认真阅读代码，理解代码的功能，先写出预想的结果。运行并检验结果是否如预期。如果不如预期，请分析理解其中的原因

`pandas.Series`和`pandas.DataFrame`部分操作和用法比较反直觉，与已学过的`numpy.array`、Python内置的列表、字典会有区别，并且部分方法的行为与`pandas`版本也相关，在使用时如果不确定某种操作的行为，在查询[文档](https://pandas.pydata.org/docs/index.html)时务必注意选择对应自己安装的版本

本次出题使用的环境为Python 3.12.2，pandas 2.2.3

## **0.1** `pandas.Series`基本操作

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)   # 查看pandas版本

2.2.2

**创建`Series`**

In [2]:
data = [1, 2, 3, 4]
series = pd.Series(data)
print(series.index)
print(series.dtype)
print(series.index.dtype)

RangeIndex(start=0, stop=4, step=1)
int64
int64

默认索引是0到3,数据类型是int64（1，2，3，4），索引类型也是int64（0，1，2，3）。

In [ ]:
data = [1, 2, 3, 4]
index = ['a', 'b', 'c', 'd']
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

Index(['a', 'b', 'c', 'd'], dtype='object')
object

创建series，下标index为['a', 'b', 'c', 'd']，值为[1, 2, 3, 4]。

下标索引为自定义字符串，类型是object。

In [7]:
data = [1, 2, 3, 4]
index = pd.Index(['a', 'b', 'c', 'd'], dtype=str)
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

Index(['a', 'b', 'c', 'd'], dtype='object')
object

历史原因：在pandas 1.0之前，没有专门的'string' dtype，所有字符串都存储为'object'类型。

dtype=str实际上等同于dtype='object'，它不会创建真正的字符串类型！！！（dtype=str实际上创建的是object类型的索引）

这是Python和pandas历史遗留行为。因此类型为object。

In [10]:
data = [1, 2, 3, 4]
index = pd.Index(['a', 'b', 'c', 'd'], dtype="string")
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

Index(['a', 'b', 'c', 'd'], dtype='string')
string

这个写法明确类型为string。因此要创建真正的字符串类型索引，必须明确使用dtype='string'！！

In [11]:
data = [1, 2, 3, 4]
index = pd.Index([None, 2, 3, 4], dtype=str)
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

Index([None, '2', '3', '4'], dtype='object')
object

index中None被保留，其他数字被转换为字符串

由于dtype=str实际上等同于dtype='object'，故类型仍然是object

In [5]:
data = [1, 2, 3, 4]
index = pd.Index([None, 2, 3, 4], dtype="string")
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

Index([<NA>, '2', '3', '4'], dtype='string')
string

index中None被保留，其他数字被转换为字符串

由于dtype="string"，故类型是string

In [6]:
data = [1, 2, None, 4]
series = pd.Series(data)
print(series.dtype)

float64

如果只有int会认为类型是int64，但是这里有None,在有None、NaN时类型会变成float64！！

In [7]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
index = ['a', 'b']
series = pd.Series(data, index=index)
print(series)
print(series.dtype)

a    1
b    2
dtype: int64
int64

a    1

b    2

dtype: int64

int64

只保留这个字典中key在index中的那些，进而生成Series，只有a和b两行。只有int，类型是int64.

In [12]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
index = ['a', 'b', 'x', 'y']
series = pd.Series(data, index=index, dtype=int)
print(series)
print(series.dtype)

a    1.0
b    2.0
x    NaN
y    NaN
dtype: float64
float64

a    1.0

b    2.0

x    NaN

y    NaN

dtype: float64

float64

只保留这个字典中key在index中的那些，进而生成Series，对于没在字典的keys中出现却在index中出现的，补全成NaN。因为包含NaN，故类型是float64.

**访问`Series`的元素**

In [8]:
data = {1:0, 2:1, 0:3}
series = pd.Series(data)
print(series[0])

3

3

这里直接访问，默认是取index为0的那个，故=3。

In [9]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series['a'])
print(series[0])

0
0

/var/folders/hn/gy9cbfnj2fxdtcx87x8ptv_w0000gn/T/ipykernel_7820/707444397.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[0])

0

0

series['a']直接访问，默认是取index='a'的那个，故=0。

series[0]由于没有index是0且index都是str类型，所以变成隐含索引为0（按顺序第1个）的那个，故=0。（编译提示慎用这个操作）

In [10]:
data = {1:0, 3:1}
series = pd.Series(data)
print(series[0])

KeyError: 0

key的类型都为int，所以这里会找key中为0的那个。没有键为0的元素，会抛出KeyError。（慎用这个操作）

In [11]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series[0:1])
print(series[1:0:-1])
print(series['a':'b'])
print(series['b':'a':-1])

a    0
dtype: int64
b    1
dtype: int64
a    0
b    1
dtype: int64
b    1
a    0
dtype: int64

a    0

dtype: int64

b    1

dtype: int64

a    0

b    1

dtype: int64

b    1

a    0

dtype: int64

切片操作与Python列表类似，并且既可以使用位置切片，也可以使用index切片。

不同点是：位置（隐含索引）切片左开右闭，index切片左右都闭！！

#### <mark> 因此，iloc的切片（位置）左开右闭；loc的切片（index）左右都闭！</mark>

In [12]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series[[True, False, True]])

a    0
c    3
dtype: int64

a    0

c    3

dtype: int64

series[[True, False, True]]是bool索引取元素。布尔索引选择True对应的元素。

In [13]:
data = {True:0, False:1}
series = pd.Series(data)
print(series[True])
print(series[False])
print(series[[False, True]])

0
1
False    1
dtype: int64

0

1

True    0

dtype: int64

可以使用布尔值作为键，并且可以根据key进行访问，这是前两行的输出。

第三行输出是因为用布尔索引选择True对应的元素

通过以上例子，相信你已经认识到了直接使用方括号`[]`访问`Series`元素的易混淆性，因此在使用`pandas.Series`时，建议使用`loc`或`iloc`

In [14]:
series = pd.Series(data=[2, 1], index=[1, 2])
print(series.loc[1])
print(series.iloc[1])

2
1

2

1

loc按照自己定义的index索引(keys)来访问，iloc按照位置访问。
故第一行是第1个数，第二行是位置（隐含索引，0为第一个数），即第二个数。

In [20]:
data = {True:0, False:1}
series = pd.Series(data)
print(series.loc[True])
print(series.loc[[False, True]])
print(series.iloc[0])
print(series.iloc[[False, True]])

0
False    1
dtype: int64
0
False    1
dtype: int64

0

False    1

dtype: int64

0

False    1

dtype: int64

第一、三个输出是直接访问，根据index给出值即可。

第二、四个输出是bool索引，都是不要第一行只要第二行，故都输出第二行

loc和iloc都是先行后列！！

In [16]:
data = {True:0, False:1}
series = pd.Series(data)
print(series.reindex([False, True]))

False    1
True     0
dtype: int64

False    1

True     0

dtype: int64

reindex就是重新给index值，即改变后第一个数0对应index为False，第二个数1对应index为True。

**`Series`与`dict`**

In [21]:
index = [1, 2, 3, 3]
data = ['a', 'b', 'c', 'd']
data_dict = dict(zip(index, data))
series = pd.Series(data, index=index)

print(len(data_dict))
print(len(series))

print(list(data_dict))
print(list(series))

print(1 in data_dict, 'a' in data_dict)
print(1 in series, 'a' in series)

3
4
[1, 2, 3]
['a', 'b', 'c', 'd']
True False
True False

3

转成dict后3对应的value是后面的'd'了，keys只有3个。

4

series可以有index相同，长为4

[1, 2, 3]

data转成list是给keys

['a', 'b', 'c', 'd']

series转成list是给values

True False

True False

字典的in和series的in都默认是keys/index

**`Series`的运算**

In [23]:
a = pd.Series([1, 1], index=['b', 'c'])
b = pd.Series([1, 1, None], index=['a', 'b', 'e'])
print(a + b)
print(a.add(b, fill_value=0))

a    NaN
b    2.0
c    NaN
e    NaN
dtype: float64
a    1.0
b    2.0
c    1.0
e    NaN
dtype: float64

a    NaN

b    2.0

c    NaN

e    NaN

dtype: float64

a    1.0

b    2.0

c    1.0

e    NaN

dtype: float64

相加如果有index只在其中之一出现，那么用NaN补充，而对于相同的index会做加法运算。

fill_value=0是把b中没出现的（a中出现的）统统用0填充（而不是NaN），因此c会做1+0运算。

以上都由于b中有None，故默认为float64类型！

In [22]:
a = pd.Series([1, 2, 3, 4, 5, 6], 
              index=['b', 'b', 'b', 'c', 'c', 'd'])
b = 1j * pd.Series([6, 5, 4, 3, 2, 1], 
              index=['b', 'c', 'c', 'd', 'd', 'd'])

display(a + b)

b    1.0+6.0j
b    2.0+6.0j
b    3.0+6.0j
c    4.0+5.0j
c    4.0+4.0j
c    5.0+5.0j
c    5.0+4.0j
d    6.0+3.0j
d    6.0+2.0j
d    6.0+1.0j
dtype: complex128

b    1.0+6.0j
b    2.0+6.0j
b    3.0+6.0j
c    4.0+5.0j
c    4.0+4.0j
c    5.0+5.0j
c    5.0+4.0j
d    6.0+3.0j
d    6.0+2.0j
d    6.0+1.0j
dtype: complex128

相加如果两个都有index只是数量不一样，会默认“广播”后相加，因此b、d都会各自复制补齐

## **0.2** `pandas.DataFrame`基本操作

**注**：可以使用`Ipython`中的函数`display`而非`print`来显示`DataFrame`，以获得更好的呈现效果

In [48]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
print(df)
display(df)

     A    B
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0

     A    B
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0

A    B

0  1.0  NaN

1  NaN  5.0

2  3.0  6.0

创建包含None/NaN的dataframe；print和display显示格式不同

**`DataFrame`的创建**

判断以下哪些情况能成功创建`DataFrame`，哪些会报错。如果能创建成功，预测`DataFrame`的内容

In [8]:
df = pd.DataFrame({'A': 1, 'B': 3})
display(df)

ValueError: If using all scalar values, you must pass an index

创建时字典的value要是一个series/列表。<mark>不能是标量。</mark>所以报错

In [9]:
df = pd.DataFrame({'A': [1], 'B': [3]})
display(df)

   A  B
0  1  3


A	B

0	1	3

单行DataFrame

In [2]:
df = pd.DataFrame({'A': [1, 2], 'B': 3})
display(df)

   A  B
0  1  3
1  2  3

  A B

0 1 3

1 2 3

如果是标量值，会类似广播操作，把B列自动复制补齐。标量值会自动广播到所有行！！

In [3]:
df = pd.DataFrame([[1, 2], 3])
display(df)

TypeError: object of type 'int' has no len()

报错，因为混合列表和标量会编译错误！

In [4]:
df = pd.DataFrame({'A': [1, 1], 'B': [3, 3, 3]})
display(df)

ValueError: All arrays must be of the same length

报错，如果列长度不一致会报错！！（不是标量，不能广播）

In [24]:
data = {'A': [1,2], 'B': [3,4]}
df = pd.DataFrame(data, columns=['X', 'Y'])
display(df)

Empty DataFrame
Columns: [X, Y]
Index: []

只有column名是X，Y，没有具体的值。

指定列名X、Y会覆盖原始keys，而data中没有X、Y键，所以值为空。

In [25]:
data = {'A': [1,2], 'B': [3,4]}
df = pd.DataFrame(data, index=['X', 'Y'])
display(df)

   A  B
X  1  3
Y  2  4

A	B

X	1	3

Y	2	4

这里是index名是X、Y（行索引为['X','Y']），即行的名称（index）是X、Y故会输出前两行形成的dataframe。

**`DataFrame`的访问**

判断以下对`DataFrame`元素的访问是否会报错，如果不会报错，预测结果的内容和类型（`DataFrame`、`Series`还是一个元素）

In [26]:
df = pd.DataFrame([[1, 2], [3, 4]], index=['a','b'])
display(df)
display(df['a'])

   0  1
a  1  2
b  3  4

KeyError: 'a'

'a'是行索引，不是列名，不能display（只有列名才能display），故会报错

In [27]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df)
display(df['a'])

   a  b
0  1  2
1  3  4

0    1
1    3
Name: a, dtype: int64

a	b

0	1	2

1	3	4

前面是展示df。

0    1

1    3

Name: a, dtype: int64

a是列名，可以display。单列会返回Series，故这里返回第一列这个series（index（默认）和values）

In [28]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']])

   a
0  1
1  3

a

0	1

1	3

列名列表会返回DataFrame，故返回dataframe形式的展示。

In [29]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']][1])

KeyError: 1

dataframe不能直接使用数字索引访问行！！

In [30]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']].iloc[1])

a    3
Name: 1, dtype: int64

a    3

Name: 1, dtype: int64

dataframe可以使用iloc按位置访问行！！

In [31]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'], index=['b', 'a'])
display(df)
display(df.loc['a', 'b'])
display(df['a'].loc['b'])
display(df.iloc[0, 1])
display(df.iloc[0].iloc[1])

   a  b
b  1  2
a  3  4

4

1

2

2

a  b

b  1  2

a  3  4

4

loc是先行后列来取，所以第二行第二列的数

1

df['a']已经表示'a'这一列了，所以第一列的'b'（即第一个）数

2

iloc是先行后列来取，所以第一行第二列的数

2

iloc[0]是第一行，这个series里面的iloc[1]是第二个数，即第一行第二列的数

In [32]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
mask = df > 1
display(df[mask])

     a  b
0  NaN  2
1  3.0  4

a	b

0	NaN	2

1	3.0	4

bool索引访问。对于不满足条件的显示为NaN，满足条件的按照原数值输出。

In [33]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[[True, False]])

   a  b
0  1  2

a	b

0	1	2

行bool索引选择。这里选择第一行不要第二行。

In [34]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[:, [False, True]])

InvalidIndexError: (slice(None, None, None), [False, True])

dataframe不能直接使用这种切片语法！最好改成用loc或iloc！

In [35]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df.loc[:, [False, True]])

   b
0  2
1  4

b

0	2

1	4

列bool索引选择。行全部包含，列不选第一列且选择第二列，故输出b这一列所有值。

**`DataFrame`运算**

In [37]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[1, 2])
display(df1 + df2)
display(df1.values + df2.values)

     A     B
0  NaN   NaN
1  7.0  11.0
2  NaN   NaN

array([[ 6, 10],
       [ 8, 12]])

A     B

0  NaN   NaN

1  7.0  11.0

2  NaN   NaN

DataFrame按索引对齐运算：列索引相同的对应列会相加，只在其中之一出现的列对应为NaN。

[[ 6  10]

 [ 8 12]]

<mark>values属性返回numpy数组，直接相加</mark>：

[[1, 3]

 [2, 4]]

# +

[[5, 7]

 [6, 8]]

按照numpy规则，按对应位相加。

In [38]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
s = pd.Series([10, 20], index=['A', 'B'])
display(df + s)

    A   B
0  11  24
1  12  25
2  13  26

A   B

0  11  24

1  12  25

2  13  26

DataFrame和Series的运算会按列广播运算

In [39]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
display(df + df.T)
display(df.add(df.T, fill_value=0))

    A   B   0   1
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
A NaN NaN NaN NaN
B NaN NaN NaN NaN

     A    B    0    1
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
A  NaN  NaN  1.0  2.0
B  NaN  NaN  3.0  4.0

A	B	0	1

0	NaN	NaN	NaN	NaN

1	NaN	NaN	NaN	NaN

A	NaN	NaN	NaN	NaN

B	NaN	NaN	NaN	NaN

A	B	0	1

0	1.0	3.0	NaN	NaN

1	2.0	4.0	NaN	NaN

A	NaN	NaN	1.0	2.0

B	NaN	NaN	3.0	4.0

df.T是转置，再相加。由于转置后列名变成0,1, 行名变成A，B，所以直接相加全是NaN。

如果fill_value=0，那么对于df中出现但df.T中没出现的行列位置，仍会按照df的值+0相加，其余位置仍是NaN。因此如上结果

**`DataFrame`其他操作**

In [40]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
display(df.drop(0))

   A  B
1  2  4

A	B

1	2	4

删除原来的第一行

In [41]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
df.drop('A', axis=1, inplace=True)
display(df)

   B
0  3
1  4

B

0	3

1	4

删除原来的第二列

inplace：如果设置 True，将计算得到的值直接覆盖之前的值并返回 None，修改的是源数据。

In [42]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
display(df.drop('A'))

KeyError: "['A'] not found in axis"

报错，因为drop不加axis默认是删除行，没有叫做A的行。

In [43]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
display(df.sum())

A     4.0
B    11.0
dtype: float64

A     4.0

B    11.0

dtype: float64

按每列求和。

In [44]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
result = df.apply(lambda x: x.max() - x.min())
display(result)

A    1
B    1
dtype: int64

A    1

B    1

dtype: int64

按列求极差

In [45]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
result = df.apply(lambda x: x.max() - x.min(), axis=1)
display(result)

0    2
1    2
dtype: int64

0    2

1    2

dtype: int64

axis=1表示按行做，故是按行求极差：
对

1 3

2 4 

求每行极差

In [46]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
display(df.cumsum())
display(df.cumsum(skipna=False))

     A     B
0  1.0   NaN
1  NaN   5.0
2  4.0  11.0

     A   B
0  1.0 NaN
1  NaN NaN
2  NaN NaN

A	B

0	1.0	NaN

1	NaN	5.0

2	4.0	11.0

A	B

0	1.0	NaN

1	NaN	NaN

2	NaN	NaN

cumsum是求累计求和（对每列），如果当前是none就返回nan，反之把之前的none当成0运算。

而如果cumsum(skipna=False)，则是求累计求和（对每列），只要此数之前出现了none就都返回nan。

## **0.3** 表连接

In [8]:
index1 = pd.Index(['A', 'B', 'C'])
index2 = pd.Index(['B', 'C', 'D'])

# 交集（共同存在的元素）
print(index1.intersection(index2)) 

# 并集（所有唯一元素）
print(index1.union(index2))        

# 对称差集（仅存在于一个索引中的元素）
print(index1.symmetric_difference(index2))

Index(['B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['A', 'D'], dtype='object')

Index(['B', 'C'], dtype='object')

Index(['A', 'B', 'C', 'D'], dtype='object')

Index(['A', 'D'], dtype='object')

依次是index的交集、并集、对称差集。

In [14]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=['X', 'Y'])
df2 = pd.DataFrame({'B': [5, 6], 'C': [7, 8]}, index=['Y', 'Z'])

print(df1)
print(df2)

print("--------------------")
combined_df = pd.concat([df1, df2], axis=0)

combined_df_reset = pd.concat([df1, df2], ignore_index=True)

print(combined_df)
print(combined_df_reset)

   A  B
X  1  3
Y  2  4
   B  C
Y  5  7
Z  6  8
--------------------
     A  B    C
X  1.0  3  NaN
Y  2.0  4  NaN
Y  NaN  5  7.0
Z  NaN  6  8.0
     A  B    C
0  1.0  3  NaN
1  2.0  4  NaN
2  NaN  5  7.0
3  NaN  6  8.0

   A  B

X  1  3

Y  2  4

   B  C

Y  5  7

Z  6  8

这两个输出显然。

--------------------
A  B    C

X  1.0  3  NaN

Y  2.0  4  NaN

Y  NaN  5  7.0

Z  NaN  6  8.0

concat纵向合并DataFrame（axis=0）

A  B    C

0  1.0  3  NaN

1  2.0  4  NaN

2  NaN  5  7.0

3  NaN  6  8.0

<mark>ignore_index=True重置索引，不合并相同的index！！<mark>

In [15]:
df1 = pd.DataFrame({  
    'ID': [101, 102, 103],  
    'Name': ['Alice', 'Bob', 'Charlie'],  
    'Dept': ['HR', 'Tech', 'Finance']  
})  

df2 = pd.DataFrame({  
    'ID': [102, 103, 104],  
    'Name': ['Bob', 'Charlie', 'David'],  
    'Salary': [5000, 6000, 4500]  
})  

# 合并操作  
result_inner = pd.merge(df1, df2, on='ID', how='inner')  
result_outer = pd.merge(df1, df2, on='ID', how='outer')  
result_left = pd.merge(df1, df2, on='ID', how='left', suffixes=('_左', '_右'))

print(result_inner)
print(result_outer)
print(result_left)

    ID   Name_x     Dept   Name_y  Salary
0  102      Bob     Tech      Bob    5000
1  103  Charlie  Finance  Charlie    6000
    ID   Name_x     Dept   Name_y  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0
3  104      NaN      NaN    David  4500.0
    ID   Name_左     Dept   Name_右  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0

# 不换行了，请点开markdown查看！

    ID   Name_x     Dept   Name_y  Salary
0  102      Bob     Tech      Bob    5000
1  103  Charlie  Finance  Charlie    6000

    ID   Name_x     Dept   Name_y  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0
3  104      NaN      NaN    David  4500.0

    ID   Name_左     Dept   Name_右  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0

merge操作中：

inner join: 只保留匹配的行（交集的行）

outer join: 保留所有行（并集的行）

left join: 保留左边所有行

suffixes参数处理重复列名，对交集的列名分别加后缀！

# 第一部分 代码填充

In [1]:
import pandas as pd
import numpy as np

## **1.1** `DataFrame`基本操作

本部分已经提供了参考输出，你的代码运行结果需要与之相同

In [2]:
# 读入数据并检查基本信息
df = pd.read_csv('data.csv')
print(df.shape)
print(df.info())

(12, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        12 non-null     object
 1   age         12 non-null     int64
 2   gender      12 non-null     object
 3   height(cm)  12 non-null     int64
 4   weight(kg)  12 non-null     int64
dtypes: int64(3), object(2)
memory usage: 612.0+ bytes
None

In [3]:
# 使用head()方法查看前n行数据
display(df.head(3))

    name  age gender  height(cm)  weight(kg)
0  Alice   24      F         168          53
1    Bob   38      M         157          76
2  Carol   43      F         164          59

**Step 1.** 将行索引加1

In [5]:
# 操作复制的数据而非原始数据
# 以免代码写错或运行多次导致原始数据被修改
df1 = df.copy()

##############################
df1 = df1.dropna(axis=0, how='any')
# df1 = df1.dropna(axis=1, how='any')
df1.index = df1.index + 1

##############################

display(df1)

        name  age gender  height(cm)  weight(kg)
1      Alice   24      F         168          53
2        Bob   38      M         157          76
3      Carol   43      F         164          59
4       Dave   24      M         190          68
5        Eve   33      F         165          60
6    Francis   42      M         181          89
7      Grace   57      F         176          70
8       Hans   57      M         197          90
9   Isabella   36      F         170          67
10     Jason   13      M         144          38
11      Kate   53      F         164          68
12     Louis   39      M         175          59

**Step 2.** 根据身高和体重计算BMI，添加到最后一列，列名为`BMI`，计算公式为$BMI=\dfrac{weight}{height^2}$，其中体重和身高的单位分别为kg和m

In [60]:
df2 = df1.copy()

##############################

df2["BMI"] = df2["weight(kg)"] / ((df2["height(cm)"] / 100) ** 2)
# TODO
##############################

display(df2)

        name  age gender  height(cm)  weight(kg)        BMI
1      Alice   24      F         168          53  18.778345
2        Bob   38      M         157          76  30.832894
3      Carol   43      F         164          59  21.936347
4       Dave   24      M         190          68  18.836565
5        Eve   33      F         165          60  22.038567
6    Francis   42      M         181          89  27.166448
7      Grace   57      F         176          70  22.598140
8       Hans   57      M         197          90  23.190497
9   Isabella   36      F         170          67  23.183391
10     Jason   13      M         144          38  18.325617
11      Kate   53      F         164          68  25.282570
12     Louis   39      M         175          59  19.265306

**Step 3.** 将表按照年龄升序排列

In [69]:
df3 = df2.copy()

##############################
# TODO
df3 = df3.sort_values(by = "age")
df3 = df3.reset_index(drop=True)
df3.index = df3.index + 1
##############################

df3

        name  age gender  height(cm)  weight(kg)        BMI
1      Jason   13      M         144          38  18.325617
2      Alice   24      F         168          53  18.778345
3       Dave   24      M         190          68  18.836565
4        Eve   33      F         165          60  22.038567
5   Isabella   36      F         170          67  23.183391
6        Bob   38      M         157          76  30.832894
7      Louis   39      M         175          59  19.265306
8    Francis   42      M         181          89  27.166448
9      Carol   43      F         164          59  21.936347
10      Kate   53      F         164          68  25.282570
11     Grace   57      F         176          70  22.598140
12      Hans   57      M         197          90  23.190497

**Step 4.** 统计两种性别年龄、身高、体重、BMI的平均数，结果存储在变量`avg_df`中

In [ ]:
df4 = df3.copy()

##############################
avg_df = df4.groupby('gender')[['age', 'height(cm)', 'weight(kg)', 'BMI']].mean()
##############################

display(avg_df)

         age  height(cm)  weight(kg)        BMI
gender
F       41.0  167.833333   62.833333  22.302893
M       35.5  174.000000   70.000000  22.936221

**Step 5.** 将年龄划分为`'<=24'`、`'24-48'`、`'>48'`三个部分，并**在`'age'`的后一列**添加`'age_range'`列，表明年龄的所属范围

In [77]:
df5 = df3.copy()

##############################
def compute(x):
    if x <= 24: return "<=24"
    if x <= 48: return "24-48"
    return ">48"

df5.insert(2, "age_range", df5["age"].apply(compute))
##############################

display(df5)

        name  age age_range gender  height(cm)  weight(kg)        BMI
1      Jason   13      <=24      M         144          38  18.325617
2      Alice   24      <=24      F         168          53  18.778345
3       Dave   24      <=24      M         190          68  18.836565
4        Eve   33     24-48      F         165          60  22.038567
5   Isabella   36     24-48      F         170          67  23.183391
6        Bob   38     24-48      M         157          76  30.832894
7      Louis   39     24-48      M         175          59  19.265306
8    Francis   42     24-48      M         181          89  27.166448
9      Carol   43     24-48      F         164          59  21.936347
10      Kate   53       >48      F         164          68  25.282570
11     Grace   57       >48      F         176          70  22.598140
12      Hans   57       >48      M         197          90  23.190497

## **1.2** 多级索引

In [78]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(60, 100, size=(6, 3)),
                  columns=["Python", "C++", "Java"],
                  index=pd.MultiIndex.from_product(
                      [['张三', '李四', '王五'],['期中', '期末']]),
                  dtype=float)
display(df)

       Python   C++  Java
张三 期中    98.0  88.0  74.0
   期末    67.0  80.0  98.0
李四 期中    78.0  82.0  70.0
   期末    70.0  83.0  95.0
王五 期中    99.0  83.0  62.0
   期末    81.0  61.0  83.0

**Step 1.** 按期中40%，期末60%的比例计算加权后分数

In [87]:
df1 = df.copy()

##############################
# TODO
df1.loc[(slice(None), "期中"), :] = df1.loc[(slice(None), "期中"),:].apply(lambda x: x * 0.4)
df1.loc[(slice(None), "期末"),:] = df1.loc[(slice(None), "期末"),:].apply(lambda x: x * 0.6)

##############################

display(df1)

       Python   C++  Java
张三 期中    39.2  35.2  29.6
   期末    40.2  48.0  58.8
李四 期中    31.2  32.8  28.0
   期末    42.0  49.8  57.0
王五 期中    39.6  33.2  24.8
   期末    48.6  36.6  49.8

**Step 2.** 对期中期末成绩求和得到每人每门课的最终成绩

In [ ]:
df2 = df1.copy()

##############################
# TODO
df2 = df2.groupby(level = 0).sum() # level是按第一层的姓名分组
##############################

display(df2)

    Python   C++  Java
张三    79.4  83.2  88.4
李四    73.2  82.6  85.0
王五    88.2  69.8  74.6

**Step 3.** 计算输出每门功课的最高分，最低分，以及平均分数

In [92]:
df3 = df2.copy()

##############################
# TODO
df3 = pd.DataFrame({
    '最高分': df3.max(axis = 0),
    '最低分': df3.min(axis = 0),
    '平均分数': df3.mean(axis = 0),
})
##############################

display(df3)

         最高分   最低分       平均分数
Python  88.2  73.2  80.266667
C++     83.2  69.8  78.533333
Java    88.4  74.6  82.666667

## **1.3** 表连接

请根据以下给出的数据表完成给定的查询操作
目标：统计2023-2024学年在校生的部门人均预算、选修课程及平均成绩，TODO：  
1. 仅保留状态为"在校"且选课年份>=入学年份的学生  
2. 关联课程成绩
2. 部门预算需按学生人数均摊计算

In [106]:
import pandas as pd  
import numpy as np  
  
students = pd.DataFrame({  
    '学号': [101, 102, 103, 104, 105],  
    '姓名': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],  
    '部门ID': [1, 1, 2, 3, 4], 
    '状态': ['在校', '在校', '毕业', '休学', '在校'],  
    '入学年份': [2021, 2022, 2021, 2023, 2022]  
})  

departments = pd.DataFrame({  
    '部门ID': [1, 2, 3],  
    '部门名称': ['技术部', '市场部', '财务部'],  
    '年度预算（万）': [500, 300, 200]   
})  

courses = pd.DataFrame({  
    '课程ID': [201, 202, 203, 204],  
    '课程名': ['Python', 'SQL', '数据分析', '机器学习'],  
    '开课年份': [2023, 2023, 2024, 2024]  
})  

enrollments = pd.DataFrame({  
    '学号': [101, 101, 102, 104, 105, 106],   
    '课程ID': [201, 202, 201, 203, 204, 205],    
    '成绩': [85, 90, 78, np.nan, 88, 92],  
    '选课年份': [2023, 2023, 2023, 2024, 2024, 2024]  
})  

# 步骤1 
valid_students = students[students['状态'] == '在校']  
filtered_enrollments = pd.merge(  
    enrollments,  
    valid_students[['学号', '入学年份']],  
    on='学号',  
    how='inner'  # TODO  
).query('选课年份 >= 入学年份')  
display(filtered_enrollments)

# 步骤2 
# TODO
merged_courses = pd.merge(
    filtered_enrollments,
    courses,
    on = '课程ID',
    how = 'left'
)
display(merged_courses)

# 步骤3
# TODO 
counting_students = valid_students.groupby(by = ['部门ID'])['学号'].count().reset_index()
counting_students = counting_students.rename(columns = {'学号': '学生人数'})
departments_result = pd.merge(
    departments,
    counting_students,
    on = '部门ID',
    how = 'right',
)
departments_result['人均预算'] = departments_result['年度预算（万）'] / departments_result['学生人数']
# display(counting_students)
display(departments_result)
# 可以进一步修改和优化输出的结果、形式，但是这里选择和群里发的结果保持一致。

    学号  课程ID    成绩  选课年份  入学年份
0  101   201  85.0  2023  2021
1  101   202  90.0  2023  2021
2  102   201  78.0  2023  2022
3  105   204  88.0  2024  2022

    学号  课程ID    成绩  选课年份  入学年份     课程名  开课年份
0  101   201  85.0  2023  2021  Python  2023
1  101   202  90.0  2023  2021     SQL  2023
2  102   201  78.0  2023  2022  Python  2023
3  105   204  88.0  2024  2022    机器学习  2024

   部门ID 部门名称  年度预算（万）  学生人数   人均预算
0     1  技术部    500.0     2  250.0
1     4  NaN      NaN     1    NaN